{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "dynamicImport": true,
            "decorators": true
        },
        "baseUrl": "./src",
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        },
        "target": "es5",
        "loose": false,
        "externalHelpers": false,
        "keepClassNames": false
    },
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": false,
        "noInterop": false,
        "lazy": false
    },
    "minify": true
}
